{% load static %}
<!--sidebar wrapper -->

<div class="sidebar-wrapper" data-simplebar="true">
    <div class="sidebar-header">
        <div>
            <img src="{% static 'assets/images/logo-icon.png' %}" class="logo-icon" alt="logo icon">
        </div>
        <div>
            <h4 class="logo-text">HF</h4>
        </div>
        <div class="toggle-icon ms-auto"><i class='bx bx-arrow-to-left'></i>
        </div>
    </div>
    <!--navigation-->
    <ul class="metismenu" id="menu">
        <li>
            <a href="{% url 'admin_dashboard' %}" class="">
                <div class="parent-icon"><i class='bx bx-home-circle'></i>
                </div>
                <div class="menu-title">Dashboard</div>
            </a>
           
        </li>
        
        <li class="menu-label"><hr></li>
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class='bx bx-cookie'></i>
                </div>
                <div class="menu-title">Category</div>
            </a>
            <ul>
                <li> <a href="{% url 'category' %}"><i class="bx bx-right-arrow-alt"></i>Category</a>
                </li>
                <li> <a href="{% url 'subcategory' %}"><i class="bx bx-right-arrow-alt"></i>Sub Category</a>
                </li>
               
             
              
               
            </ul>
        </li>

        
{% comment %} 
        <li>
            <a href="javascript:;" class="has-arrow">
                <div class="parent-icon"><i class='bx bx-store'></i>
                </div>
                <div class="menu-title">Products</div>
            </a>
            <ul>
                
                 <li> <a href="{% url 'product' %}"><i class="bx bx-right-arrow-alt"></i>Product List</a>
                <li> <a href="{% url 'add_faq' %}"><i class="bx bx-right-arrow-alt"></i>FAQs</a>
                </li>
            </ul>
        </li> {% endcomment %}


        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class='bx bx-store'></i>
                </div>
                <div class="menu-title">Products</div>
            </a>
            <ul>
                <li> <a href="{% url 'product' %}"><i class="bx bx-right-arrow-alt"></i>Product List</a>
                </li>
                <li> <a href="{% url 'add_faq' %}"><i class="bx bx-right-arrow-alt"></i>FAQs</a>
                </li>
               
             
              
               
            </ul>
        </li>

       
       
        
        <li>
            <a href="{% url 'addons' %}">
                <div class="parent-icon"><i class='bx bx-user-circle'></i>
                </div>
                <div class="menu-title">Addon</div>
            </a>
        </li>

        
         
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class='bx bx-user-circle'></i>
                </div>
                <div class="menu-title">Expert</div>
            </a>
            <ul>
                <li>
                    <a href="{% url 'technician' %}">
                        <div class="parent-icon"><i class='bx bx-user-circle'></i>
                        </div>
                        <div class="menu-title">Expert</div>
                    </a>
                </li>
                <li> 
                    
                    <a href="{% url 'ListofNewExpert' %}">
                        <div class="parent-icon"><span class="alert-count">{% if new_expert_count != null %}{{new_expert_count}} {% else %} 0 {% endif %}</span><i class='bx bx-user-circle'></i>
                        </div>
                        <div class="menu-title">New Expert</div>
                    </a>
                </li>
  
               
            </ul>
        </li>


       

        <li>
            <a href="{% url 'admin_support' %}">
                <div class="parent-icon"><i class='bx bx-user-circle'></i>
                </div>
                <div class="menu-title">Support</div>
            </a>
        </li>

        
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class='bx bx-store'></i>
                </div>
                <div class="menu-title">Booking</div>
            </a>
            <ul>
                <a href="{% url 'ListofNewExpert' %}">
                   
                </a>
                <li> 
                    <a href="{% url 'booking_list' %}"><span class="alert-count">{% if booking_count != null %}{{booking_count}} {% else %} 0 {% endif %}</span><i class="bx bx-right-arrow-alt"></i>New Booking List</a>
                </li>
                <li> <a href="{% url 'list_of_task' %}"><i class="bx bx-right-arrow-alt"></i>Assign Booking</a>
                </li>
                <li> <a href="{% url 'Listofcancel' %}"><i class="bx bx-right-arrow-alt"></i>Cancel Booking</a>
                </li>
                
              
               
            </ul>
        </li>
        
        <li>
            <a class="has-arrow" href="javascript:;">
                <div class="parent-icon"><i class='bx bx-store'></i>
                </div>
                <div class="menu-title">Rebooking</div>
            </a>
            <ul>
               
                <li> 
                    <a href="{% url 'Listofrebooking' %}"><span class="alert-count">{% if rebooking_count != null %}{{rebooking_count}} {% else %} 0 {% endif %}</span><i class="bx bx-right-arrow-alt"></i> Rebooking List</a>
                </li>
                
                
              
               
            </ul>
        </li>

        
        <li> 
            <a href="{% url 'contact_us' %}"></span><i class="bx bx-right-arrow-alt"></i>Contact Us</a>
        </li>
       
       
   
       
    </ul>
    <!--end navigation-->
</div>
<!--end sidebar wrapper -->