{% extends 'homofix_app/Base/base.html' %}
{% block title %}Technician{% endblock title %}
{% block main-content %}

<div class="page-content">
    <!--breadcrumb-->
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
        <div class="breadcrumb-title pe-3">Technician</div>
        <div class="ps-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Technician List</li>
                </ol>
            </nav>
        </div>
        
    </div>
    <!--end breadcrumb-->
  
    <h6 class="mb-0 text-uppercase">List of Technician</h6>
    <hr>
    <div class="card">
        <div class="ms-auto mt-2 px-3" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal"><a href="javascript:;" class="btn btn-light radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square" ></i>Add New Product</a></div>
        <div class="card-body">
            
            <div class="table-responsive">
                <table id="example2" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Description</th>
                           
                            <th>Date Created</th>
                            {% comment %} <th>Updated Date</th> {% endcomment %}
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in product %}
                        <tr>
                            <td>{{i.name}}</td>
                            <td>{{i.price}}</td>
                            <td>{{i.description}}</td>
                            <td>{{i.created_at}}</td>
                            {% comment %} <td>{{i.updated_at}}</td> {% endcomment %}
                            <td>
                                <div class="d-flex order-actions">
                                    <a href="javascript:;" class=""><i class='bx bxs-edit'></i></a>
                                    <a href="javascript:;" class="ms-3"><i class='bx bxs-trash'></i></a>
                                </div>
                            </td>
                           
                            
                        </tr>
                        {% endfor %}
                       
                    </tbody>
                    
                </table>
            </div>
        </div>
    </div>
</div>



<div class="col">
    <!-- Button trigger modal -->
    {% comment %} <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleVerticallycenteredModal">Vertically Centered</button> {% endcomment %}
    <!-- Modal -->
    <div class="modal fade" id="exampleVerticallycenteredModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Product</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <P class="text-center mt-2" id="msg"></P>
                
                <form action="{% url 'product' %}" method = "POST" enctype="multipart/form-data" id="productform">
                    {% csrf_token %}
                <div class="row">
					<div class="col-xl-9 mx-auto">
						{% comment %} <h6 class="mb-0 text-uppercase">Category Form</h6> {% endcomment %}
						
						<div class="card border-top border-0 border-4 border-white">
							<div class="card-body">
								<div class="border p-4 rounded">
									<div class="card-title d-flex align-items-center">
										{% comment %} <div><i class="bx bxs-user me-1 font-22 text-white"></i>
										</div> {% endcomment %}
										<h5 class="mb-0 text-white">Add Product</h5>
									</div>
									<hr>
									<div class="row mb-3">
                                        
										<label for="product_pic" class="col-sm-12 col-form-label">Product Image</label>
										<div class="col-sm-12">
                                            <input type="file" class="form-control" name="product_pic"  id="product_pic">
                                           
											{% comment %} <input type="text" class="form-control"  placeholder="Enter Your Username" id ="username" name="username" required> {% endcomment %}
										</div>
									</div>
									<div class="row mb-3">
										<label for="inputEnterYourName" class="col-sm-12 col-form-label">Product Name</label>
										<div class="col-sm-12">
											<input type="text" class="form-control"  placeholder="Enter Your Product" id ="product_name" name="product_name" required>
										</div>
									</div>
									<div class="row mb-3">
										<label for="inputEnterYourName" class="col-sm-12 col-form-label">Price</label>
										<div class="col-sm-12">
											<input type="number" class="form-control"  placeholder="Price" id ="price" name="price" required>
										</div>
									</div>
									<div class="row mb-3">
										<label for="inputEnterYourName" class="col-sm-12 col-form-label">Description</label>
										<div class="col-sm-12">
											<input type="text" class="form-control"  placeholder="Description" id ="description" name="description" required>
										</div>
									</div>
									
									
									
									
									
									
									 <div class="row">
										<label class="col-sm-3 col-form-label"></label>
										<div class="col-sm-9">
											<button type="submit" class="btn btn-light px-5">Add Product</button>
										</div>
									</div> 
								</div>
							</div>
						</div>
					</div>
				</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {% comment %} <button type="submit" class="btn btn-primary">Save </button> {% endcomment %}
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

<script>
 $(document).on('submit', '#productform',function(e){
     e.preventDefault();
     let product_pic = $('#product_pic').val()
     console.log(product_pic)
     let product_name = $('#product_name').val()
     let price = $('#price').val()
     let description = $('#description').val()
     
     
     $.ajax({
        type: 'POST',
        url:"{% url 'product' %}",
        data:{
            product_pic:product_pic,
            product_name:product_name,
            price:price,
            description:description,
            csrfmiddlewaretoken:$("input[name=csrfmiddlewaretoken]").val()
        },
        success:function(data){
            if(data.status == "Save"){
                // alert("Form Submitted Successfully")
                $('#productform').trigger("reset");
                $('#msg').text("Category Add Successfully")
             }
            if(data.status == "error"){
                // alert("Form Submitted Successfully")
                
                $('#msg').text("Category is already Taken")
             }
             
            

            

        }
    })

     
 })

</script>

{% endblock main-content %}