{% extends 'Support_templates/Base/base.html' %}
{% block main-content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function()
  {
      var $select_category=$('#select_category'),
          $select_product=$('#select_product'),
          $options=$select_product.find('option');
          $select_category.on('change',function()
          {
              $select_product.html($options.filter('[value="'+this.value+'"]'));
          }).trigger('change');

      });
  </script>
<div class="page-content">

  <!--breadcrumb-->
  <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">New Order</div>
    <div class="ps-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 p-0">
          <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Add New Order</li>
        </ol>
      </nav>
    </div>

  </div>
  <!--end breadcrumb-->

  <div class="card">
    <div class="card-body p-4">
      <h5 class="card-title">Add New Order</h5>
      <hr>
      <div class="form-body mt-4">
        <form action="" method="POST">
          {% csrf_token %}
        <div class="row">
          <div class="col-lg-12">
            <div class="border border-3 p-4 rounded">
              <div class="mb-3">
                
                <label for="inputProductTitle" class="form-label">Product Category</label>
                <select class="single-select" name="category_name" id="select_category" required>
                  <option value="" disabled selected>---SELECT---</option>
                  {% for i in category %}
                  <option value="{{i.id}}">{{i.category_name}}</option>

                  {% endfor %}
                </select>

              </div>
              <div class="mb-3">
                <label for="inputProductTitle" class="form-label">Product Name</label>
                <select class="single-select" name="product_id" id="select_product" multiple  required>
                  {% comment %} <option value="" disabled selected>---SELECT---</option> {% endcomment %}
                  {% for i in prod %}
                  <option value="{{i.category.id}}">{{i.name}}</option>

                  {% endfor %}
                </select>

              </div>
              <div class="mb-3">
                <label for="inputDateTime" class="form-label">Select Date & Time</label>
                <input class="form-control" type="datetime-local"  id="inputDateTime" name="booking_date" required>
                
               

              </div>
              <div class="mb-3">
                <label for="inputCity" class="form-label">City</label>
                <input class="form-control" type="text" id="inputCity" name="city" oninput="this.value = this.value.toLowerCase()" required>
                {% comment %} <input class="form-control" type="text"  id="inputCity" name="city"> {% endcomment %}
              </div>

              <div class="mb-3">
                <label for="inputDateTime" class="form-label">State</label>
                {% comment %} <input class="form-control" type="datetime-local"  id="inputDateTime" name="booking_date"> {% endcomment %}

                
                <select class="single-select" name="state" id="" required>
                  <option value="" disabled selected>---SELECT---</option>
                  {% for state in state_choices %}
                  {% comment %} <option value="{{state.0}}">{{i.name}}</option> {% endcomment %}
                  <option value="{{ state.0 }}" {% if state.0 == technician.state %}selected{% endif %}>{{ state.1 }}</option>

                  {% endfor %}
                </select>
                {% comment %} <select class="single-select" name="state" class="form-control" required>
                  <option selected disabled ,"true"> --- Select State ---</option>
                  {% for state in state_choices %}
                      <option value="{{ state.0 }}" {% if state.0 == technician.state %}selected{% endif %}>{{ state.1 }}</option>
                  {% endfor %}
              </select> {% endcomment %}
              </div>

              <div class="mb-3">
                <label for="inputDateTime" class="form-label">Area</label>
                <input class="form-control" type="text" name="area" required>

              </div>
              <div class="mb-3">
                <label for="inputDateTime" class="form-label">Zip Code</label>
                <input class="form-control" type="number" name="zip_code" required>

              </div>
              <div class="mb-3">
                <label for="inputProductaddress" class="form-label">Address</label>
                <textarea class="form-control" id="inputProductaddress" rows="3" name="address" required></textarea>
              </div>
              <div class="mb-3">
                <label for="inputProductDescription" class="form-label">Description</label>
                <textarea class="form-control" id="inputProductDescription" rows="3" name="description"></textarea>
              </div>
             
              <input class="btn btn-primary" type="submit" value="submit">
            </div>
          </div>
          
        </div><!--end row-->
      </form>
      </div>
    </div>
  </div>

</div>
{% endblock main-content %}